spring:
  security:
    oauth2:
      client:
        registration:

          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: [nickname, profile]
            client-name: Naver

          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: [profile_nickname, profile_image]
            client-name: Kakao

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response # Naver API 응답의 최상위 키

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id # Kakao API 응답의 고유 ID 필드


jwt:
  # Base64 인코딩된 256비트 이상의 문자열 / 인증을 위해 사용
  secret: ODQtNDjtl4jtlL3jhYc77ZKp6rKo44WQMzg0ODU2NzItNDjjhY7jhY4344WP44Wj44WNW+uMleuppF3ssKjrjIBb44Wh44WT44WQ6rC444WT7ZW044WRMzg3NDIzMDg5NTnjhLE4OTA0MzfjhYfjhLTjhY3rgp/stpTjhY/jhaPjhZDjhLfsuKDjhZTjhZDjhLfsoIDrpbTjhZTjhZDjhYjrjZQ4MzIwNDc5MjAzNDg3MDI4NC00OO2XiO2UveOFhzvtkqnqsqjjhZAzODQ4NTY3Mi00OOOFjuOFjjfjhY/jhaPjhY1b64yV66mkXeywqOuMgFvjhaHjhZPjhZDqsLjjhZPtlbTjhZEzODc0MjMwODk1OeOEsTg5MDQzN+OFh+OEtOOFjeuCn+y2lOOFj+OFo+OFkOOEt+y4oOOFlOOFkOOEt+yggOultOOFlOOFkOOFiOuNlDgzMjA0NzkyMDM0ODcwMg==